/* app css stylesheet */

body {
  padding-top: 50px;
}
#content {
  padding: 15px 15px;
}

.group-list {
    padding: 10px;
}

.group-list:hover {
    background-color: beige;
}

.clickable:hover {
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}